<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="1.2"
    android:versionCode="3"
    package="app.cloudnicaragua.bluewifi.nicaragua">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="app.cloudnicaragua.bluewifi.nicaragua.SSIDConnectionActivity"
            android:noHistory="true" />
        <activity
            android:name="app.cloudnicaragua.bluewifi.nicaragua.CustomerRecord"
            android:noHistory="false" />
        <activity
            android:name="app.cloudnicaragua.bluewifi.nicaragua.AdActivity"
            android:noHistory="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="app.cloudnicaragua.bluewifi.nicaragua.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="app.cloudnicaragua.bluewifi.nicaragua.Service.MyService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false" />

        <activity android:name="app.cloudnicaragua.bluewifi.nicaragua.Test.TestActivity" />
        <activity android:name="app.cloudnicaragua.bluewifi.nicaragua.DashBoardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:noHistory="false"
            ></activity>
    </application>

</manifest>